@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");


span {
    margin: 0.25em;
    border: 1px solid #e36bae;
    border-radius: 10px;
    padding: 0.25em 0.75em;
    color: white;
  
  }
  
  span:hover {
    cursor: pointer;
    background: linear-gradient(to bottom right, #e36bae, #fb743e);
    color: black;
  }

  .selected {
    background: linear-gradient(to bottom right, #e36bae, #fb743e);
    color: black;
  }
  .station {
    font-size: 1.2em;
    border: 1px solid rgb(76, 62, 95);
    margin: 0.25em;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
    .station:hover {
      border-color: #e36bae;
    }

  .stationName {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    width: 100%;
    align-items: center;
    justify-content: start;
  }

  .name {
    width: 100%;
    text-align: center;
  }

  .img {
    display: block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 2px solid rgb(76, 62, 95);
    margin: 0 0.25em;
  }

  .audioPlayer {
    background-color: #9C0D38;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    padding: 0.25em 0.75em;
  }

  .smallWrapper {
    text-align: start;
  }

 /* Mobile */
@media (max-width: 700px) {
  
span {
  border: 1px solid #e36bae;
  border-radius: 10px;
  color: white;
  display: flex;

}

span:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #e36bae, #fb743e);
  color: black;
}

.selected {
  background: linear-gradient(to bottom right, #e36bae, #fb743e);
  color: black;
}
}
